main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    min-height: 70vh;
    text-align: justify;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header img{
    width: 5vw;
    height: auto;
}
header div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 23vh;
}
#lugar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#lugar h3{
    text-align: center;
}
header ul li:hover{
    background-color: orange;
    box-shadow: 0px 0px 10px 10px orange;
}
